.img {
    color: #999;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
    /* background-color: black; */
    /* border: 2rem solid #f2f8ff; */
    max-width: calc(100% - 4rem);
    border: 1.5rem solid #f3d021;
    border-radius: 20px;
    display: block;
}
